.first-section > * {
  z-index: 1;
}

.parallax {
  transform-style: preserve-3d;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
  -moz-transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
  -ms-transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
  -o-transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
  transform: translate3d(0px, 0px, 0px) rotate(0.0001deg);
}
.parallax > .parallax-background {
	position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.parallax > .parallax-1 {
	transform-style: preserve-3d;
  position: relative;
  display: block;
  left: 0px;
  top: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(26.5px, 5.1px, 0px);
  -moz-transform: translate3d(26.5px, 5.1px, 0px);
  -ms-transform: translate3d(26.5px, 5.1px, 0px);
  -o-transform: translate3d(26.5px, 5.1px, 0px);
  transform: translate3d(26.5px, 5.1px, 0px);
}
.parallax > .parallax-2 {
  transform-style: preserve-3d;
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(8.8px, 1.7px, 0px);
  -moz-transform: translate3d(8.8px, 1.7px, 0px);
  -ms-transform: translate3d(8.8px, 1.7px, 0px);
  -o-transform: translate3d(8.8px, 1.7px, 0px);
  transform: translate3d(8.8px, 1.7px, 0px);
}
.parallax > .parallax-3,
.parallax > .parallax-4 {
  transform-style: preserve-3d;
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(17.7px, 3.4px, 0px);
  -moz-transform: translate3d(17.7px, 3.4px, 0px);
  -ms-transform: translate3d(17.7px, 3.4px, 0px);
  -o-transform: translate3d(17.7px, 3.4px, 0px);
  transform: translate3d(17.7px, 3.4px, 0px);
}
.parallax > .parallax-5,
.parallax > .parallax-6 {
	transform-style: preserve-3d;
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(8.8px, 1.7px, 0px);
  -moz-transform: translate3d(8.8px, 1.7px, 0px);
  -ms-transform: translate3d(8.8px, 1.7px, 0px);
  -o-transform: translate3d(8.8px, 1.7px, 0px);
  transform: translate3d(8.8px, 1.7px, 0px);
}

@media (min-width: 1300px) {
  #first-section {
    width: calc(90% - (1% + (100 - 1) * ((100vw - 320px) / (1440 - 320))));
    padding-right: calc(1% + (100 - 1) * ((100vw - 320px) / (1440 - 320)));
  }
}

@media (min-width: 1251px) {
  .first-section .parallax {
    width: 756px;
    height: 500px;
  }
  .first-section .parallax .image-1 {
    width: 80%;
    position: relative;
    left: 170px;
    top: 50px;
  }
  .first-section .parallax .image-2 {
    width: 100%;
    position: relative;
    left: 170px;
    top: -20px;
  }
  .first-section .parallax .image-3 {
    width: 100%;
    position: relative;
    left: 470px;
    top: 250px;
  }
  .first-section .parallax .image-4 {
    width: 100%;
    position: relative;
    left: 300px;
    top: 400px;
  }
  .first-section .parallax .image-5 {
    width: 100%;
    position: relative;
    left: 50px;
    top: 350px;
  }
  .first-section .parallax .image-6 {
    width: 100%;
    position: relative;
    left: 50px;
    top: 150px;
  }
}
@media (max-width: 1251px) {
  .first-section {
    min-height: 500px;
  }
  .first-section .parallax {
    width: 530px;
    height: 400px;
  }
  .first-section .parallax .image-1 {
    width: 50%;
    position: relative;
    left: 120px;
    top: 50px;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
  }
  .first-section .parallax .image-2 {
    width: 100%;
    position: relative;
    left: 50px;
    top: -20px;
  }
  .first-section .parallax .image-3 {
    width: 100%;
    position: relative;
    left: 330px;
    top: 200px;
  }
  .first-section .parallax .image-4 {
    width: 100%;
    position: relative;
    left: 200px;
    top: 350px;
  }
  .first-section .parallax .image-5 {
    width: 100%;
    position: relative;
    left: 50px;
    top: 300px;
  }
  .first-section .parallax .image-6 {
    width: 100%;
    position: relative;
    left: -30px;
    top: 150px;
  }
}
@media (max-width: 910px) {
  .first-section .parallax {
    display: none;
  }
}
