@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300&display=swap');


html, body {
    margin: 0%;
    width: 100%;
    color: rgb(210, 206, 200);
    font-family: 'Exo 2', sans-serif;
}

:root {
    --scrollbar-width: 1.05em;
    
    --font-size-default: 16px;
    --font-size-small-x: max(14, calc(10px + (13 - 10) * ((100vw - 42px) / (250 - 42))));
    --font-size-small: max(18px, calc(10px + (13 - 10) * ((100vw - 42px) / (460 - 42))));
    --font-size-medium: max(20px, calc(10px + (13 - 10) * ((100vw - 42px) / (250 - 42))));
    --font-size-medium-x: max(22px, calc(10px + (13 - 10) * ((100vw - 42px) / (250 - 42))));
    --font-size-large: 2.5rem;
    --font-size-header: max(2.5rem, calc(20px + (25 - 20) * ((100vw - 42px) / (250 - 42))));
}

::-webkit-scrollbar {
    background-color: rgb(32, 35, 36);
    width: var(--scrollbar-width);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(69, 74, 77);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(87,94,98);
}

input:focus, textarea:focus, select:focus, button:focus{
    outline: none;
}

h1 {
    font-size: var(--font-size-large);
    margin: 0;
}

/* Main header styles */
#header {
    height: 70px;
    width: calc(80vw - var(--scrollbar-width));
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: 0;
    z-index: 2;
    pointer-events: none;
}

    #content {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        #content > * {
            pointer-events: all;
        }

        #logo {
            height: 100%;
            display: flex;
            align-items: center;
            
        }
        
            #logo-icon {
                height: 50px;
                width: 50px;
                margin-left: auto;
                margin-right: auto;
                float: left;
            }

            #logo-title {
                font-size: var(--font-size-large);
                color: #fff;
                font-weight: 700;
                margin-left: 10px;
            }

/* Styles for section headers */
div.header {
    text-align: center;
    font-size: var(--font-size-header);
    display: inline-block;
    position: relative;
    left: 50%;
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    padding-bottom: 5%;
}
    div.header-arrow-container {
        position: absolute;
        left: 50%;
        -o-transform: translate(-150%, 10px);
        -webkit-transform: translate(-150%, 10px);
        -moz-transform: translate(-150%, 10px);
        -ms-transform: translate(-150%, 10px);
        transform: translate(-150%, 10px);
        opacity: 0;
    }
    div.header-arrow-container.active {
        -webkit-animation: show-arrow 1s ease-in forwards, arrow 3s ease 1s infinite;
        animation: show-arrow 1s ease-in forwards, arrow 3s ease 1s infinite;
    }
        div.header-arrow, div.header-arrow-container {
            width: calc(10px + (40 - 10) * ((100vw - 42px) / (466 - 42)));
        }
        div.header-arrow {
            position: absolute;
            border-bottom: 5px solid rgb(79, 86, 88);
            content: '';
        }
        div.header-arrow-container.active > div.header-arrow.first-line {
            animation-name: to-arrow-left;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }
        div.header-arrow-container.active div.header-arrow.second-line {
            animation-name: to-arrow-right;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-timing-function: ease;
            animation-fill-mode: forwards;
        }

/* Styles for choose tabs */
.choose-container {
    height: 42px;
    width: 90%;
    display: flex;
    align-items: center;
    padding-left: 10%;
    margin-top: 10px;
}
    .choose-container > div.choose {
        margin-right: 2%;
        font-size: var(--font-size-medium);
        -o-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .choose-container > div.choose.active {
        color: white;
    }
    .choose-container > div.choose.active::after {
        width: 50%;
        border-bottom: 2px solid rgb(79, 86, 88);
        display: flex;
        -o-transform: translate(50%, 0);
        -webkit-transform: translate(50%, 0);
        -moz-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
        transform: translate(50%, 0);
        content: '';
    }
    .choose-container > div.choose.inactive {
        color: rgb(173, 173, 173);
    }
    .choose-container > div.choose:hover {
        cursor: pointer;
        color: white;
    }

/* Styles for first section */
#first-section {
    position: relative;
    width: 90%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100); /* Set height relative to browser's header */
    background-color: rgb(24, 26, 27);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    overflow: hidden;
    border-bottom: 3px solid rgb(109, 101, 89);
}

    .first-section div.first {
        pointer-events: none;
    }

    .first-section div.first > div:nth-of-type(1) {
        display: inline-block;
    }

        #button-more {
            border: 1px solid rgb(58, 58, 58);
            padding: 5px;
            font-size: var(--font-size-default);
            width: 130px;
            text-align: center;
            pointer-events:all;
            -o-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
            -o-border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
        }

            #button-more:hover .arrow:nth-of-type(1) {
                -o-transform: rotate(45deg) translate(0, -50%);
                -webkit-transform: rotate(45deg) translate(0, -50%);
                -moz-transform: rotate(45deg) translate(0, -50%);
                -ms-transform: rotate(45deg) translate(0, -50%);
                transform: rotate(45deg) translate(0, -50%);
            }
            
            #button-more:hover {
                background-color: rgb(88, 6, 193);
                cursor: pointer;
            }

            #button-more > div.arrow {
                border: solid rgb(210, 206, 200);
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                -o-transform: rotate(-45deg) translate(0, -15%);
                -webkit-transform: rotate(-45deg) translate(0, -15%);
                -moz-transform: rotate(-45deg) translate(0, -15%);
                -ms-transform: rotate(-45deg) translate(0, -15%);
                transform: rotate(-45deg) translate(0, -15%);
                -o-transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
            
        
        .main-image-background {
            width: 100%;
        }

        .space-parent {
            width: 100vw;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

            #space {
                width: 100%;
                height: 100%;
            }

/* Pre-header styles */
#pre-header {
    position: absolute;
    width: 90%;
    height: 40px;
    background-color: rgb(24, 26, 27);
    border-bottom: 2px solid rgb(54, 58, 60);
    z-index: 999;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 10%;
    font-size: var(--font-size-small);
}

    #pre-header.fixed {
        position: fixed;
        top: 0%;
    }

    #pre-header > div {
        margin-right: 3%;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    #pre-header > div.active {
        animation-name: pre-header-activate-elem;
        animation-duration: 0.5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    #pre-header > div.inactive {
        animation-name: pre-header-inactivate-elem;
        animation-duration: 0.5s;
        animation-timing-function: ease;
    }
    #pre-header  >div:hover {
        color: rgb(88, 6, 193);
        cursor: pointer;
    }

    #pre-header.aos-init:not(.aos-animate) > div:hover {
        cursor: default;
    }

/* Styles for second section */
#second-section {
    height: 690px;
    background-color: rgb(38, 42, 43);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* Styles for third section */
#third-section {
    background-color: rgb(24, 26, 27);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 80px;
    padding-bottom: 80px;
}

    #third-section-header {
        font-size: var(--font-size-header);
    }


.noscroll {
    position: fixed;
    overflow-y: scroll;
}

/* Styles for close button */
.close {
    position: fixed;
    right: 5vw;
    top: 5vh;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    -o-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

    .close:hover {
        opacity: 1;
        cursor: pointer;
    }

    .close:before, .close:after {
        position: fixed;
        content: '';
        height: 33px;
        width: 2px;
        background-color: rgb(210, 206, 200);
        -o-transition: background-color 0.3s ease;
        -webkit-transition: background-color 0.3s ease;
        -moz-transition: background-color 0.3s ease;
        -ms-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
    }

    .close:hover:before, .close:hover:after{
        background-color: rgb(78, 6, 170);
    }

    .close:before {
        -o-transform: translate(15px, 0) rotate(45deg);
        -webkit-transform: translate(15px, 0) rotate(45deg);
        -moz-transform: translate(15px, 0) rotate(45deg);
        -ms-transform: translate(15px, 0) rotate(45deg);
        transform: translate(15px, 0) rotate(45deg);
}

    .close:after {
        -o-transform: translate(15px, 0) rotate(-45deg);
        -webkit-transform: translate(15px, 0) rotate(-45deg);
        -moz-transform: translate(15px, 0) rotate(-45deg);
        -ms-transform: translate(15px, 0) rotate(-45deg);
        transform: translate(15px, 0) rotate(-45deg);
}

/* Styles for 3d model preview */
model-viewer {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: calc(50% - 100vh / 2);
    left: calc(50% - 100% / 2);
    z-index: 9999999;
    background-color: rgba(10, 10, 10, 0.959);
}

/* Notiffictions popup */
.popup {
    position: fixed;
    top: 10%;
    left: 50%;
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: min(50vW, 50vh);
    height: min(10vW, 10vh);
    background-color: rgba(88, 6, 193, 0.75);
    -o-border-radius: max(2vw, 2vh);
    -webkit-border-radius: max(2vw, 2vh);
    -moz-border-radius: max(2vw, 2vh);
    -ms-border-radius: max(2vw, 2vh);
    border-radius: max(2vw, 2vh);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.51);
    font-size: var(--font-size-small);
    z-index: 1000;
    opacity: 0;
}

.info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -o-transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    background-color: rgba(10, 10, 10, 0.96);
    z-index: 2;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    max-width: calc(300px + (500 - 300) * ((100vw - 320px)/ (1440 - 320)));
    max-height: calc((300px + (500 - 300) * ((100vw - 320px)/ (1440 - 320))) / 2);
}

.info-message-box {
    overflow: hidden;
    -o-border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    border-radius: inherit;
    max-width: inherit;
    max-height: inherit;
}

.info-message-container {
    overflow-y: auto;
    padding: 20px;
    max-width: inherit;
    max-height: inherit;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.info-message-container::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 28px;
}

.info-close {
    position: absolute;
    top: -5px;
    left: calc(100% - 32px + 5px);
    background-color: black;
    opacity: 1;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}


.info-close:before, .info-close:after {
    background-color: rgba(210, 206, 200, 0.4);
}



@media (max-width: 910px) {
	#first-section {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
		display: flex;
		justify-content: center;
	}
	.first-section div.first > div:nth-of-type(1) {
		text-align: center;
	}
	.first-section div.first > div:nth-of-type(1) > div#button-more {
		margin: auto;
	}
}
@media (min-width: 910px) {
	.first-section div.first {
		width: 35%;
	}
	.first-section h1, .first-section .main-text{
		max-width: 440px;
	}
}
@media (max-width: 600px) {
    .choose-container {
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}
@media (max-width: 530px) {
	#header {
		display: none;
	}
	
	#first-section {
		display: grid;
	}

	.first-section div.first {
		overflow: hidden;
	}
}
@media screen and (max-width: 467px) {
    #introduction-text {
        white-space: normal;
    }
}

@keyframes pre-header-activate-elem {
    0% {
        color: rgb(210, 206, 200);
    }
    100% {
        color: rgb(88, 6, 193);
    }
}
@keyframes pre-header-inactivate-elem {
    0% {
        color: rgb(88, 6, 193);
    }
    100% {
        color: rgb(210, 206, 200);
    }
}
@keyframes show-arrow {
    0% {
        -o-transform: translate(-150%, 10px);
        -webkit-transform: translate(-150%, 10px);
        -moz-transform: translate(-150%, 10px);
        -ms-transform: translate(-150%, 10px);
        transform: translate(-150%, 10px);
        opacity: 0;
}
    100% {
        -o-transform: translate(-50%, 10px);
        -webkit-transform: translate(-50%, 10px);
        -moz-transform: translate(-50%, 10px);
        -ms-transform: translate(-50%, 10px);
        transform: translate(-50%, 10px);
        opacity: 1;
}
}
@keyframes arrow {
    0% {
        -o-transform: translate(-50%, 10px);
        -webkit-transform: translate(-50%, 10px);
        -moz-transform: translate(-50%, 10px);
        -ms-transform: translate(-50%, 10px);
        transform: translate(-50%, 10px);
}
    50% {
        -o-transform: translate(-50%, 15px);
        -webkit-transform: translate(-50%, 15px);
        -moz-transform: translate(-50%, 15px);
        -ms-transform: translate(-50%, 15px);
        transform: translate(-50%, 15px);
}
    100% {
        -o-transform: translate(-50%, 10px);
        -webkit-transform: translate(-50%, 10px);
        -moz-transform: translate(-50%, 10px);
        -ms-transform: translate(-50%, 10px);
        transform: translate(-50%, 10px);
}
}
@keyframes to-arrow-left {
    50% {
        -o-transform: translateX(-47.5%);
        -webkit-transform: translateX(-47.5%);
        -moz-transform: translateX(-47.5%);
        -ms-transform: translateX(-47.5%);
        transform: translateX(-47.5%);
    }
    100% {
        -o-transform: translateX(-47.5%) rotate(15deg);
        -webkit-transform: translateX(-47.5%) rotate(15deg);
        -moz-transform: translateX(-47.5%) rotate(15deg);
        -ms-transform: translateX(-47.5%) rotate(15deg);
        transform: translateX(-47.5%) rotate(15deg);
    }
}
@keyframes to-arrow-right {
    50% {
        -o-transform: translateX(47.5%);
        -webkit-transform: translateX(47.5%);
        -moz-transform: translateX(47.5%);
        -ms-transform: translateX(47.5%);
        transform: translateX(47.5%);
    }
    100% {
        -o-transform: translateX(47.5%) rotate(-15deg);
        -webkit-transform: translateX(47.5%) rotate(-15deg);
        -moz-transform: translateX(47.5%) rotate(-15deg);
        -ms-transform: translateX(47.5%) rotate(-15deg);
        transform: translateX(47.5%) rotate(-15deg);
    }
}